.winners-eventos__lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.winners-evento {
    background-color: var(--dark);
    color: var(--light);
    border: 5px solid var(--orange-winners);
    border-radius: 25px;
    padding: 2rem;
}

.winners-evento__titulo {
    color: var(--orange-winners);
    text-align: center;
    margin-bottom: 1rem;
}

.winners-evento__info {
    display: flex;
    flex-direction: column;
}

.winners-evento__categoria .categoria {
    display: inline;
}

.winners-evento.aguas-abertas {
    border-color: var(--aguas-abertas);
}
.winners-evento.aguas-abertas .winners-evento__titulo, .categoria-aguas-abertas {
    color: var(--aguas-abertas);
}
.winners-evento.master {
    border-color: var(--master);
}
.winners-evento.master .winners-evento__titulo, .categoria-master {
    color: var(--master);
}
.winners-evento.federados {
    border-color: var(--federados);
}
.winners-evento.federados .winners-evento__titulo, .categoria-federados {
    color: var(--federados);
}