.winners-eventos__lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.winners-evento {
    background-color: var(--super-light);
    color: var(--dark);
    border-left: 5px solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    min-width: 300px;
    max-width: 400px;
    width: 100%;
}
.winners-evento__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winners-evento__titulo {
    display: flex;
    align-items: center;
    color: var(--dark);
}

.winners-evento__saiba-mais {
    width: 100px;
    margin-left: auto;
    align-self: flex-end;
    text-align: center;
    border: 1px solid var(--dark-orange);
    text-decoration: none;
    color: var(--dark-orange);
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.winners-evento__info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.winners-evento .categoria {
    display: inline;
}

.winners-evento__icon {
    width: 20px;
}

.winners-evento__saiba-mais:hover {
    background-color: var(--orange-winners);
    color: var(--super-light);
}

.winners-evento.aguas-abertas {
    border-color: var(--aguas-abertas);
}
.winners-evento.master {
    border-color: var(--master);
}
.winners-evento.federados {
    border-color: var(--orange-winners);
}