footer {
    width: 100%;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    max-width: var(--max-content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: var(--light);
}

.patrocinador-logo {
    width: 100px;
}