header {
    width: 100%;
    background: var(--dark);
    color: var(--orange-winners);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    width: 50px;
    margin: 1rem;
}

nav {
    flex: 1;
    max-width: var(--max-content-width);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    height: 100%;
}

nav ul a, .logo{
    text-decoration: none;
    color: unset;
    transition: all .2s;
}
nav ul a:hover {
    background-color: #140b07;
}

nav ul li {
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hamburger Button */
.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin: 1.5rem;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: var(--orange-winners);
    transition: transform 0.3s ease;
}

/* Estilo para mobile */
@media (max-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    nav ul {
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        pointer-events: none;
        top: 100%;
        right: 0;
        background-color: var(--dark);
        width: 100%;
        transition: all 0.3s ease;
        height: unset;
    }

    nav ul li {
        border-top: 1px solid #444;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }

    /* Quando o menu estiver ativo, mostrar */
    nav ul.active {
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }

    /* Exibe o botão de hamburger em telas pequenas */
    .menu-icon {
        display: flex;
    }

    /* Animação das barras */
    .menu-icon.active .bar-1 {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .bar-2 {
        opacity: 0;
    }

    .menu-icon.active .bar-3 {
        transform: translateY(-8px) rotate(-45deg);
    }
}