.slider-comissao-title {
  
}

.slider-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  /* margin: auto; */
  margin-top: 1rem;
  max-width: 100%;
}

.slider {
  overflow: hidden;
}

.slide-track {
  display: flex;
  will-change: transform;
}

.slide {
  min-width: 300px;
  flex-shrink: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide img {
  width: 100%;
  display: block;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.nav-prev {
  left: 10px;
}

.nav-next {
  right: 10px;
}

@media (max-width: 600px) {
  .slide {
    /* A largura será controlada pelo JavaScript */
    min-width: 250px; /* Largura mínima para telas pequenas */
  }
}
