* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 2rem;
}

html {
    background-color: var(--light);
    overflow-x: hidden; /* Prevent horizontal scroll on html */
}

body {
    max-width: 1920px;
    margin: auto;
    position: relative;
    color: var(--dark);
    overflow-x: hidden; /* Prevent horizontal scroll on body */
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin: 1rem 0 0;
}

p:first-child {
    margin-top: 0;
}

ul {
    list-style-position: inside;
}

main {
    /* padding: 2rem; */
    text-align: justify;
    flex: 1 0 auto;
}

.conteudo {
    padding: 1rem 10rem;
    width: 100%;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .conteudo {
        padding: 1rem 2rem;
    }
}

.cols { 
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    gap: 30px 0px;
    align-items: start;
    position: relative;
    margin-bottom: 1rem;
}
.col {
    grid-column: span 12;
    position: relative;
}
/* .cols > .col:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0px;
    top: unset;
    right: unset;
    width: 50%;
    height: 1px;
    background: linear-gradient(to right, var(--orange-winners), var(--light));
} */

@media (min-width: 1080px){

    .cols {
        gap: 30px 50px;
    }

    .cols > .col:nth-of-type(even):not(:last-of-type)::after {
        display: none;
    }

    .cols > .col:nth-of-type(odd):not(:last-of-type)::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: unset;
        bottom: unset;
        right: -25px;
        width: 5px;
        height: 75%;
        background: linear-gradient(to bottom, var(--orange-winners), var(--light));
    }
    
    .col--span-1 { grid-column: span 1; }
    .col--span-2 { grid-column: span 2; }
    .col--span-3 { grid-column: span 3; }
    .col--span-4 { grid-column: span 4; }
    .col--span-5 { grid-column: span 5; }
    .col--span-6 { grid-column: span 6; }
    .col--span-7 { grid-column: span 7; }
    .col--span-8 { grid-column: span 8; }
    .col--span-9 { grid-column: span 9; }
    .col--span-10 { grid-column: span 10; }
    .col--span-11 { grid-column: span 11; }
    .col--span-12 { grid-column: span 12; }
}
