* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    background-color: var(--light);
}

body {
    max-width: 1920px;
    margin: auto;
    position: relative;
    color: var(--dark);
}

p {
    margin: 1rem 0;
}

main {
    /* padding: 2rem; */
    text-align: justify;
}

.conteudo {
    padding: 1rem 10rem;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .conteudo {
        padding: 1rem 2rem;
    }
}