:root {
    --tec-color-button-primary: var(--orange-winners);
    --tec-color-accent-primary: var(--orange-winners);
    --tec-color-background: var(--dark);
    --tec-color-text-primary: var(--dark);
    --tec-color-text-secondary: var(--orange-winners);
    --tec-color-background-subscribe-list-item-hover: var(--orange-winners);
    --tec-color-text-view-selector-list-item: var(--orange-winners);
    --tec-color-accent-secondary: var(--orange-winners);
    --tec-color-background-events-bar-submit-button-hover: var(--dark);
    --tec-color-background-view-selector-list-item-hover: var(--orange-winners);
    --tec-color-text-events-bar-input: var(--light);
    --tec-color-text-day-of-week-month: var(--dark);
}

.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list-item a, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list-item a {
    color: var(--light);
}
/* .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list-item a:hover, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list-item a:hover {
    background-color: var(--orange-winners);
} */

#tribe-events-pg-template {
    background-color: var(--light);
}

.tribe-common-c-btn.tribe-events-c-search__button:hover {
    border: 1px solid var(--orange-winners) !important;
    color: var(--orange-winners) !important;
}

.tribe-events-c-view-selector__list-item {
    text-align: center;
    padding: 0 !important;
    width: 50px;
}
.tribe-events-c-view-selector__list-item:hover {
    background-color: var(--orange-winners) !important;
    color: var(--light) !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector__list-item {
    color: var(--dark) !important;
    transition: all 0.3s ease;
}

.tribe-events-c-view-selector__list-item-link::after {
    bottom: 0px !important;
    height: 5px !important;
    border-radius: 10px 10px 0px 0px !important;
}

.tribe-common a.tribe-common-c-btn-border-small:hover {
    border: 1px solid var(--dark) !important;
    background-color: var(--orange-winners) !important;
    color: var(--dark) !important;
}

.tribe-events-calendar-month__calendar-event-tooltip-title-link {
    color: var(--orange-winners) !important;
}

.tribe-events-calendar-month__calendar-event-tooltip-datetime, .tribe-events-calendar-month__calendar-event-tooltip-title, .tribe-events-calendar-month__calendar-event-tooltip-description {
    color: var(--light) !important;
}

.tribe-events .tribe-events-calendar-month__multiday-event-bar {
    background-color: var(--super-light);
}

.tribe-events .datepicker {
    background-color: #f0f0f0 !important;
}

.tribe-events .datepicker .day:hover, .tribe-events .datepicker .month:hover {
    background-color: unset !important;
    box-shadow: inset 0 0 0 1px var(--orange-winners) !important;
    color: var(--orange-winners) !important;
    /* transition: all 0.1s ease; */
}

.tribe-events .datepicker .datepicker-switch:hover, .tribe-events .datepicker .next:hover, .tribe-events .datepicker .prev:hover {
    background-color: unset !important;
    color: unset !important;
    transform: scale(1.1);
    transition: all 0.1s ease;
}

.tribe-events-c-view-selector__list-item {
    width: 50px;
    text-align: center;
}

.tribe-events-c-view-selector__list-item:hover {
    transition: all 0.1s ease;
}

.tribe-events-c-view-selector__list-item-text {
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tribe-events-c-view-selector__list-item-link, .tribe-events-c-view-selector__list-item-icon {
    display: flex;
    align-items: center;
    justify-content: center!important;
}

.tribe-events-c-top-bar__today-button {
    color: var(--light) !important;
}